body {
    background-color: red;
    margin: 0;
}

.box {
    width: 300px;
    height: 400px;
    /* Gradiente lineal, dos colores */
    background: linear-gradient(transparent, #000a);
    /* Para que sea en sentido horizontal */
    /* background: linear-gradient(to right,transparent, #000a); */
    /* También le podemos dar más de un color, y seleccionar que porcentaje queremos que ocupe el color */
    background: linear-gradient(transparent 10%, #000a, blue);
    margin: 0;
    border-radius: 5px;
    margin: auto;
    margin-top: 20px;
    border-top: 6px solid #900;
    /*Tambén tenemos al gradiente radial */
    /* background: radial-gradient(transparent, #000a); */
}

h1 {
    margin: 0;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-family: sans-serif;
}

img {
    width: 300px;
}